<ion-header>
  <ion-toolbar>
    <ion-title>
      People - NextPage: {{nextPage}}
      <span class="blink" *ngIf="fetching">- fetching</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <cdk-virtual-scroll-viewport cdkScrollable class="ion-content-scroll-host" itemSize="itemSize" minBufferPx="900"
    maxBufferPx="1350">
    <ion-list>
      <ng-container *cdkVirtualFor="let item of items; trackBy: trackItem">

        <!--
          NOTES: This seems to work ok, possibly because of a small-ish data set
          and the height of item (56px) vs header (45px) being pretty close.
          A workaround, if design allows may be to increase whitespace of the header
          so that the height of headers matches that of the items.
        -->

        <ng-container *ngIf="item.type === 'header';else personTemplate">
          <ion-list-header style="background-color: silver;">{{item.caption}}</ion-list-header>
        </ng-container>

        <ng-template #personTemplate>
          <ion-item style="height: 200px; border: 1px green solid">
            <ion-avatar slot="start">
              <img src="https://loremflickr.com/40/40" />
            </ion-avatar>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        </ng-template>

      </ng-container>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadNextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more people...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>